<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <appSettings>
    <add key="DB" value="Data Source=strat.database.windows.net; Initial Catalog=STRAT_GAME; User id=stratadmin; Password=Password1!;" />
  </appSettings>
</configuration>
